html {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;

}

header {
  background-image: url("../../resources/images/glasses-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
}

.container {
  max-width: 960px;
  margin: auto;
}

nav {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  background-color: cadetblue;
  color: white;
  font-size: 1rem;
}

.logo-white {
  height: 1.5rem;
  padding-right: 1rem;
  padding-left: 2rem;
}

.menu{
  display:flex;


  color: red;
}

ul li {
  padding-right: 2rem;
  display: inline-block;
}

.banner {
  margin-top: 10rem;
  display: flex;
  justify-content:flex-end;
  margin-right: -2rem;
}

.banner-text {
  background-color: white;
  padding: 1.5rem 5rem;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
}

.third-container {
  margin: 3rem 0;
  display: flex;
  justify-content: center;

}

.icons-container {
height: 8rem;
}

.icon-holder {

}


.paper-icon {
  width : 3rem;
}

.ruler {
  width: 5rem;
}

.delivery {
  width: 5rem;
}

.texts-container {
display: flex;
}

.information {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 4rem;
  }

.title {
    background-color: cadetblue;
    padding: 0.5rem 1.25rem;
    font-weight: bold;
    color: white;
    max-width: 10rem;
    margin-bottom: 1rem;
  }

.footer {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: azure;
}

.logo-black {
  height: 1.5rem;
  padding-left: 4rem;
  padding-right: 1rem;
}
