html {
  font-family: Helvetica;
}

.container {
max-width: 960px;
margin: auto;
margin-top: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  background-color: cadetblue;
  color: white;
  font-size: 1rem;
}

nav div {
  display: flex;
  align-items: center;
}

div img {
  height: 1.5rem;
  padding-right: 1rem;
  padding-left: 2rem;
}

ul li {
  display: flex;
  flex-direction: row;
  color: black;
}
